# Toronto Neighborhoods Lattitude and Longitude

In [1]:
import pandas as pd

### Webpage Scraping and Dataframe creation

In [4]:
#Wikipedia page scraping

import requests
from bs4 import BeautifulSoup

webpage = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
scrapePage = BeautifulSoup(webpage.content, 'html.parser')

postCodesTable = scrapePage.find('tbody')

tabRows = postCodesTable.select('tr')
tabRow = [r.get_text() for r in tabRows]

#Postal Codes dataframe creation
postDf = pd.DataFrame(tabRow)
postDf = postDf[0].str.split('\n', expand = True)
postDf = postDf.rename(columns = postDf.iloc[0])
postDf = postDf.drop(postDf.index[0])

postDf.head()

    Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

### Reading "Geospatial_data" CSV file

In [6]:
geoData = pd.read_csv("http://cocl.us/Geospatial_data")

#Rename column to match identifier's name in dataframe
geoData.rename(columns = {'Postal Code' : 'Postcode'}, inplace = True)

geoData.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

### Merging both dataframes

In [7]:
postDf = pd.merge(postDf, geoData, on = 'Postcode')
postDf.head()

    Postcode           Borough     Neighbourhood     Latitude  Longitude
0        M3A        North York         Parkwoods    43.753259 -79.329656
1        M4A        North York  Victoria Village    43.725882 -79.315572
2        M5A  Downtown Toronto      Harbourfront    43.654260 -79.360636
3        M5A  Downtown Toronto       Regent Park    43.654260 -79.360636
4        M6A        North York  Lawrence Heights    43.718518 -79.464763